.headingBanner-tracking {
	height: 570px;
	width: 100%;
	background-image: url("../../images/banner.jpg");
	background-size: cover;
	background-position: center;
	margin-bottom: 60px;
}

.headingTitle-tracking h1 {
	color: #fff;
	font-size: 40px;
	text-align: center;
	line-height: 30px;
	text-shadow: 0 0 30px rgba(0,0,0,.5);
	letter-spacing: 0.5px;
	font-weight: 200;
}

.headingTitle-tracking {
	margin-top: 100px;
	padding: 45px 50px;
}

.searchWrapper {
	text-align: center;
}

.searchInput {
	width: 729px;
    height: 56px;
	padding: 0 10px;
	font-size: 27px;
	font-weight: 100;
	letter-spacing: -.022em;
	color: #333;
	text-align: left;
	border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: #fff;
    box-shadow: none;
}

.search-btn {
    height: 58px;
	padding: 0 18px;
	font-size: 27px;
	font-weight: 100;
	letter-spacing: -.022em;
	color: #757575;
	text-align: left;
	border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: #fff;
    box-shadow: none;
    cursor: pointer;
}

